:root {
  --bg-primary-color: #0f172a;
  --bg-secondary-color: #1e293b;
  --border-color: #334155;
  --border-color-rgb: 51, 65, 85;
  --txt-primary-color: #e2e8f0;
  --txt-secondary-color: #94a3b8;

  --chart-blue-color: #3b82f6;
  --chart-green-color: #22c55e;
  --chart-yellow-color: #eab308;
  --chart-red-color: #ef4444;
  --chart-purple-color: #a855f7;
  --chart-teal-color: #14b8a6;
}
